@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kalnia&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kalnia', serif;
    background-color: #FFFBF5;
  }

  @media (max-width: 1250px) {
    .pricing-container{
      flex-direction: column;
      height: 100%;
    }
  }

  .pricing-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .pricing-plan{
    background-color: #F7EFE5;
    max-width: 400px;
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  .plan-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-price{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
  }

  .plan-features{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .plan-features li{
    margin-bottom: 20px;
  }

  .plan-button{
    padding: 10px;
    background-color: #7743DB;
    color: #fff;
    border-radius: 5px;
    border: none;
  }